@use "variables";

/*Header Nav*/
.main-head {
  background: variables.$blue;
  position: sticky;
  top: 0px;
  z-index: 3;
}

nav {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;

  ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    a {
      text-decoration: none;
      color: black;
    }
    a:hover {
      color: variables.$white;
    }
  }
}

#logo {
  flex: 2 1 40rem;
  font-weight: normal;

  span {
    font-family: "Pattaya", sans-serif;
    font-weight: lighter;
    color: variables.$white;
  }
}
