$blue: rgb(0, 50, 100, 0.5);
$grey: rgb(178, 181, 190);
$white: rgb(232, 228, 228);
$wood: rgba(137, 71, 51, 0.977);
$black: rgb(18, 18, 19);

/*Media queries*/

@media screen and (max-width: 932px) {
  html {
    font-size: 45%;
  }
  header.main-head {
    background-color: #4c6e97;
  }
  nav {
    text-align: center;
    background-color: #4c6e97;
  }
  #logo {
    padding: 2rem;
  }
  .form-wrapper {
    width: 100%;
    overflow: hidden;
  }
  .contact-form-input {
    max-width: 355px;
  }
  footer {
    text-align: center;
  }
  footer h5 {
    padding-bottom: 3rem;
  }
  footer p,
  a {
    margin-right: 3rem;
  }
}
